st.alpha:      0.80
st.font:       UbuntuMono-13

! XFT
Xft.antialias:  1
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
! Dracula
st.color0: #000000
st.color1: #ff5555
st.color2: #50fa7b
st.color3: #f1fa8c
st.color4: #bd93f9
st.color5: #ff79c6
st.color6: #8be9fd
st.color7: #ffffff
! st.color7: #bbbbbb

st.color8:  #44475a
st.color9:  #ff5555
st.color10: #50fa7b
st.color11: #f1fa8c
st.color12: #bd93f9
st.color13: #ff79c6
st.color14: #8be9fd
st.color15: #ffffff

st.background:     #282a36
st.foreground:     #f8f8f2
st.cursorColor:    #bd93f9

! ! Custom colorscheme
! st.foreground:   #ffffff
! st.background:   #000000
! st.cursorColor:  #ff3366
! ! Black + DarkGrey
! st.color0:  #000000
! st.color8:  #000000
! ! DarkRed + Red
! st.color1:  #ff3366
! st.color9:  #ff3366
! ! DarkGreen + Green
! st.color2:  #93d44f
! st.color10: #93d44f
! ! DarkYellow + Yellow
! st.color3:  #ffc123
! st.color11: #ffc123
! ! DarkBlue + Blue
! st.color4:  #2c77ff
! st.color12: #2c77ff
! ! DarkMagenta + Magenta
! st.color5:  #d33682
! st.color13: #d33682
! ! DarkCyan + Cyan
! st.color6:  #7dcdff
! st.color14: #7dcdff
! ! LightGrey + White
! st.color7:  #ffffff
! st.color15: #ffffff
