[X Keyboard]
# システムの XKB 設定を上書き可能にする
# Available Value:
# True False
#OverrideSystemXKBSettings=True
# リストの最初のキーボードインプットメソッドのレイアウトが既定のレイアウトとして使用されます。
# Available Value:
# True False
#UseFirstKeyboardIMAsDefaultLayout=True
# xmodmap コマンド
#XModmapCommand=xmodmap
# レイアウト変更後にこの独自 xmodmap スクリプトを適用する
#CustomXModmapScript=

